#########################
# Unreali loodud failid #
#########################
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
Hea demovideo.avi
BAK_Mihkel_Abel.pdf
BAK_Georg_Haud.pdf
VR_PROJEKT501/Content/StarterContent/


####################
# VS loodud failid #
####################
*.VC.db
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/a61bea71108e46f7/BOXCOMPONENT.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/a689e19faa9e18b0/AVAUKS.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/8f01db429273507e/POSITSIOONISTTEATAJA.ipch
