#########################
# Unreali loodud failid #
#########################
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
VR_PROJEKT501/Content/StarterContent



####################
# VS loodud failid #
####################
*.VC.db
*.suo
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/a61bea71108e46f7/BOXCOMPONENT.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/a689e19faa9e18b0/AVAUKS.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/8f01db429273507e/POSITSIOONISTTEATAJA.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/33ded8bf57c60cb3/HAARAJA.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/f23460e9954daaa0/AVAUKS.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/15d39f61fa346121/VR_PROJEKT501GAMEMODEBASE.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/32d65e00919aed1/OPENCLOSE.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/.suo
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/562f785e344b8943/HAARAJA.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/492efccae0e9c8b8/AVAUKS.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/ipch/AutoPCH/fa3d3fcfbb515e1b/HAARAJA.ipch
VR_PROJEKT501/.vs/VR_PROJEKT501/v15/Solution.VC.db-wal
