#########################
# Unreali loodud failid #
#########################
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
Hea demovideo.avi
BAK_Mihkel_Abel.pdf
BAK_Georg_Haud.pdf
VR_PROJEKT501/Content/StarterContent/


####################
# VS loodud failid #
####################
*.VC.db